<br>
Client Info Page
<p>
Name:
<%= @client.name %>
<br>
Phone Number:
<%= @client.phone_number %>
<br>
Email:
<%= @client.email %>
<br>
Bedrooms Needed
<%= @client.bedrooms_needed %>
<br>
Price Limit
<%= @client.price_limit %>
<br>
Notes:
<%= @client.notes %>

</p>

<p>
  Favorites:
  <br>
  <% @client.client_favorites.each do |fav| %>
    <%= link_to fav.apartment.address, apartment_path(fav.apartment) %>
      status: <strong><%= fav.apartment.status %></strong>
<%= form_tag client_favorite_path(fav), method: "delete" do %>
  <%= submit_tag("Remove from Favorites") %>
<% end %>
    <br>
  <% end %>
</p>