<div class="form">
<%= form_for @apartment do |f| %>
  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :price %>
  <%= f.number_field :price %>


  <%= f.label :lease_length %>
  <%= f.number_field :lease_length %>

  <%= f.label :bedrooms %>
  <%= f.number_field :bedrooms %>

  <%= f.label :bathrooms %>
  <%= f.number_field :bathrooms %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :contact_name %>
  <%= f.text_field :contact_name %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :photo_url %>
  <%= f.url_field :photo_url %>

  <%= f.label :landlord_id %>
  <%= f.collection_select :landlord_id, Landlord.order(:name), :id, :name, include_blank: true %>

  <%= f.submit %>
<% end %>
</div>