<h1><%= @apartment.address %></h1>
<img src="<%= @apartment.photo_url %>" width="300px"/>

<p>
  <%= button_to "Delete this apartment", apartment_path, method: :delete %>
</p>

<!-- Add button to update apt status -->

<ul>
  <li>Status: <%= @apartment.status %></li>
  <li>Price: <%= @apartment.price %></li>
  <li>Lease (months:) <%= @apartment.lease_length %></li>
  <li>Bedrooms: <%= @apartment.bedrooms %></li>
  <li>Bathrooms: <%= @apartment.bathrooms %></li>
  <li>Descritpion: <%= @apartment.description %></li>
  <li>Contact Name: <%= @apartment.contact_name %></li>
  <li>Phone Number <%= @apartment.phone_number %></li>
  <li>Email: <%= @apartment.email %></li>
  <li>Landlord: <%= link_to @apartment.landlord.name, landlord_path(@apartment.landlord) %></li>
  <li>Neighborhood <%= @apartment.neighborhood %></li>
</ul>

<p>
  <% @apartment.client_favorites.each do |fave| %>
    <br>
    <%= link_to fave.client.name, client_path(fave.client) %>

    <ul>
    <li><%= "Status: #{fave.status}" %></li>
    <li><%= "Notes: #{fave.notes}" %></li>
    </ul>
    <br><br>
  <% end %>
</p>

<p><%= form_for(@client_favorite) do |f| %>
  
  <%= f.hidden_field(:apartment_id, value: @apartment.id) %> 
  
  <%= f.label :status %>
  <%= f.select :status, ["wanna see it", "seen it"] %>
  <br>
  <%= f.label :notes %>
  <%= f.text_field :notes %>
  <br>
  <%= f.label :client_id %>
  <%= f.collection_select :client_id, Client.order(:name), :id, :name, include_blank: true %>
  <br>
  <%= f.submit %>
<% end %></p>
  

  <p><img src="http://maps.googleapis.com/maps/api/staticmap?&zoom=17&size=4500x450&maptype=hybrid&markers=markerstyles|<%= "#{@apartment.address}+nyc+ny" %>|&sensor=false"></p>



